:root {
  --variable-collection-beige: rgba(244, 233, 215, 1);
  --variable-collection-donkergroen: rgba(96, 108, 56, 1);
  --variable-collection-licht-groen: rgba(165, 165, 141, 1);
  --variable-collection-koraal-rozw: rgba(206, 66, 87, 1);
  --variable-collection-peach-roze: rgba(0, 0, 0, 0.2);
  --variable-collection-peach-roos: rgba(244, 168, 150, 1);
}
